@font-face {
    font-family: "GT Super";
    src: url(fonts/gt-super-400-normal.woff);
}

@font-face {
    font-family: sohne;
    src: url(fonts/sohne-400-normal.woff);
}
*{
    padding 0;
    margin 0;
    box-sizing: border-box;
}

body{
    font-family: "sohne", sans-serif;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}

.btn {
    background: black;
    color: white;
    border-radius: 22px;
    border: none;
    padding: 8px 16px;
}
header{
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 14px;
}
header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    @media screen and (max-width: 728px){
        md-hidden
        {
            display: none;
        }
    }
